@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}
.blog-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    background-color: white;
    border-radius: 20px; 
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}
.blog-card_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
img {
    border-radius: 10px;
}
.blog-card_profile {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
    gap: 12px;
    font-weight: bold;
}
.blog-card_badge {
    display: block;
    width: fit-content;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: bold;
}
.blog-card_text {
    color: hsl(0, 0%, 42%);
    max-width: 336px;
    font-weight: medium;
}
h1 {
    font-size: 24px;
    font-weight: 800;
}
span {
    font-size: 14px;
    font-weight: medium;
}
.profile {
    width: 32px;
    height: 32px;
}